{% extends 'base.html' %}

{% block content %}
  <div class="card" style="width: 35rem; margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-size: 35px;margin-bottom: 45px;">상품등록</h5>
      <form action="" method="POST" class="my-forms" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" multiple name="images" />
        <p>
          <label for="id_hash_tags">해쉬태그:</label>
          <input type="text" name="hash_tags" maxlength="50" id="id_hash_tags" placeholder=", 를 기준으로 적어주세요" />
        </p>
        <button type="submit" class="btn btn-success">등록</button>
      </form>
    </div>
  </div>

  <button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>
  <div class="chatbot">
    <header>
      <h2>등록 도우미</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>
          안녕하세요 <br />어떤 상품으로 등록을 도와 드릴까요?
        </p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="구체적으로 입력해주세요..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
    <input type="hidden" class="chat_history">
  </div>
  <script>
    const chatbotToggler = document.querySelector('.chatbot-toggler')
    const closeBtn = document.querySelector('.close-btn')
    const chatbox = document.querySelector('.chatbox')
    const chatInput = document.querySelector('.chat-input textarea')
    const sendChatBtn = document.querySelector('.chat-input span')
    
    let userMessage = null // Variable to store user's message
    const inputInitHeight = chatInput.scrollHeight
    
    const createChatLi = (message, className) => {
      // Create a chat <li> element with passed message and className
      const chatLi = document.createElement('li')
      chatLi.classList.add('chat', `${className}`)
      let chatContent = className === 'outgoing' ? `<p></p>` : `<span class="material-symbols-outlined">smart_toy</span><p></p>`
      chatLi.innerHTML = chatContent
      chatLi.querySelector('p').textContent = message
      return chatLi // return chat <li> element
    }
    
    const generateResponse = async (chatElement) => {
      const messageElement = chatElement.querySelector('p')
    
      // Define the properties and message for the API request
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', "X-CSRFToken": '{{ csrf_token }}' },
        body: JSON.stringify({
          text: userMessage,
          history: $('.chat_history').val(),
        })
      }
    
      // Send POST request to API, get response and set the reponse as paragraph text
      try {
        const response = await fetch('{% url "products:aihelp" %}', requestOptions)
        const data = await response.json()
        if (!response.ok) throw new Error(data.error.message)
    
        // Get the API response text and update the message element
        messageElement.textContent = data.answer.replace(/\*\*(.*?)\*\*/g, '$1')
        $('.chat_history').val(data.answer.replace(/\*\*(.*?)\*\*/g, '$1'))
      } catch (error) {
        // Handle error
        messageElement.classList.add('error')
        messageElement.textContent = error.message
      } finally {
        chatbox.scrollTo(0, chatbox.scrollHeight)
      }
    }
    
    const handleChat = () => {
      userMessage = chatInput.value.trim() // Get user entered message and remove extra whitespace
      if (!userMessage) return
    
      // Clear the input textarea and set its height to default
      chatInput.value = ''
      chatInput.style.height = `${inputInitHeight}px`
    
      // Append the user's message to the chatbox
      chatbox.appendChild(createChatLi(userMessage, 'outgoing'))
      chatbox.scrollTo(0, chatbox.scrollHeight)
    
      setTimeout(() => {
        // Display "Thinking..." message while waiting for the response
        const incomingChatLi = createChatLi('답변 생성 중...', 'incoming')
        chatbox.appendChild(incomingChatLi)
        chatbox.scrollTo(0, chatbox.scrollHeight)
        generateResponse(incomingChatLi)
      }, 600)
    }
    
    chatInput.addEventListener('input', () => {
      // Adjust the height of the input textarea based on its content
      chatInput.style.height = `${inputInitHeight}px`
      chatInput.style.height = `${chatInput.scrollHeight}px`
    })
    
    chatInput.addEventListener('keydown', (e) => {
      // If Enter key is pressed without Shift key and the window
      // width is greater than 800px, handle the chat
      if (e.key === 'Enter' && !e.shiftKey && window.innerWidth > 800) {
        e.preventDefault()
        handleChat()
      }
    })
    
    sendChatBtn.addEventListener('click', handleChat)
    closeBtn.addEventListener('click', () => document.body.classList.remove('show-chatbot'))
    chatbotToggler.addEventListener('click', () => document.body.classList.toggle('show-chatbot'))
  </script>
{% endblock %}
