{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<ul>
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url "accounts:update" %}">{{ request.user }}</a>님 환영 합니다 
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
            <form action="{% url 'accounts:delete' %}" method="post">
                {% csrf_token %}
                <button type="submit">회원탈퇴</button>
            </form>
        </li>
    {% else %}
        <li>
            <a href="{% url 'accounts:login' %}">
                <button>로그인</button>
            </a>
            <a href="{% url 'accounts:signup' %}">
                <button>회원 가입</button>
            </a>
        </li>
    {% endif %}
    
    
</ul>
{% endblock content %}